<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta charset="UTF-8">
    <meta name="referrer" content="same-origin">
    <title>详情</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/component.css">
    <link rel="stylesheet" href="css/detail.css">
    <link rel="stylesheet" href="css/pdfh5.css">
    <link
            rel="stylesheet"
            href="./js/vant/index.css"
    />
    <script>
        var controllerPathPrefix = 'http://ebooking.elong.com/html5';
    </script>
</head>
<body>
<div class="page-wrapper" v-cloak id="app">
    <van-overlay :z-index="9999" :show="loading">
        <van-loading size="24px" vertical>加载中...</van-loading>
    </van-overlay>
    <!--    <div id="pdf-container" class="pdf-panel">-->
    <div v-show="fileType==='pdf'" id="pdf-container" class="pdf-panel">
    </div>
    <div class="detail-panel">
        <div v-show="fileType==='mp4'" class="video-wrapper">
            <video autoplay controls :poster="detailData.fileThumb"
                   :src="detailData.url"></video>
        </div>
        <div class="title">{{detailData.title}}</div>
        <div class="desc">
            {{detailData.content}}
        </div>

        <div class="info">
            <span class="grade">{{score}}分</span>
            <span><i class="fa fa-eye"
                     aria-hidden="true"></i>{{views || 0}}</span>
        </div>
        <div class="time">发布时间 {{dayjs(detailData.publishTime).format('YYYY-MM-DD HH:mm:ss')}}</div>
    </div>
    <h2 class="comment-title">评论
        <div class="default-comment" v-show="defaultCommentNum>0">已收起{{defaultCommentNum}}条对您帮助不大的评价</div>
    </h2>
    <div class="comment-panel">
        <div class="no-comment" v-if="commentList.length===0">
            <div class="bg" style="background-image: url('${resourcesPrefix}/images/no-comment.png')"></div>
            <p>暂无数据，快来<span class="blue">添加</span>吧！</p>
            <div class="btn-wrapper" v-show="allowComment">
                <a :href="'${controllerPathPrefix}/hotelTraining/comment?id='+detailData.id">
                    <button class="btn">评论</button>
                </a>
            </div>

        </div>
        <ul class="comment-list-ul">
            <li class="comment-item" :key="index" v-for="(comment,index) of commentList">
                <div class="info">
                    <span class="name">{{comment.staffNameEn}}</span><span
                        class="time">{{dayjs(comment.timestamp).format('YYYY-MM-DD HH:mm:ss')}}</span>
                </div>
                <div class="score-row">
                    <div class="score">{{comment.score}}</div>
                    <div class="rate">
                        <van-rate
                                readonly
                                allow-half
                                v-model="comment.score"
                                :size="15"
                                color="#fdaf2d"
                                void-icon="star"
                                void-color="#F5F5F5"
                        />
                    </div>
                </div>
                <div class="content">{{comment.content}}</div>
            </li>
        </ul>
        <a class="write" v-if="commentList.length!==0 && allowComment"
           :href="'${controllerPathPrefix}/hotelTraining/comment?id='+detailData.id"><img
                src="${resourcesPrefix}/images/write.png" alt="">评论</a>
    </div>
    <div class="comment-guide" v-if="commentList.length!==0 && allowComment">您对本期课程满意吗？快说出你的想法吧！</div>


</div>

<script src="js/pdfh5/pdf.js" type="text/javascript" charset="utf-8"></script>
<script src="js/pdfh5/pdf.worker.js" type="text/javascript" charset="utf-8"></script>
<script src="js/pdfh5/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/pdfh5/pdfh5.js" type="text/javascript" charset="utf-8"></script>

<script src="./js/vue/vue.min.js"></script>
<script src="./js/axios/axios.min.js"></script>
<script src="./js/dayjs/dayjs.min.js"></script>
<script src="./js/api.js"></script>
<script src="./js/util.js"></script>
<script src="./js/vant/vant.min.js"></script>
<script>
    var api = new HotelTrainingApi(controllerPathPrefix);
</script>
<script src="./js/detail.js"></script>

</body>
</html>
