<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta charset="UTF-8">
    <meta name="referrer" content="same-origin">
    <title>文章推荐</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/hotel-grid-list.css">
</head>
<body>
<div class="page-wrapper" v-cloak id="app">
    <div class="tab-panel">
        <div class="tab-item" :class="{active:currentTab===item.tag}" :key="item.tag" v-for="(item,index) of  tabList"
             @click="toggleTag(item.tag)"
        >
            {{item.text}}
        </div>
    </div>
    <div class="index-panel" v-if="currentTab===-1">
        <div class="tag-wrapper" :key="index" v-for="(tag,index) of indexPageData">
            <h2 class="tag-name">{{tag.text}}</h2>
            <ul class="article-grid-ul">
                <li class="article-grid-item" v-for="(item,i) of  tag.list">
                    <a :href="'./detail.html?id='+item.id+'&score='+item.score+'&views='+item.views">
                        <div class="cover"><img :src="item.fileThumb" alt=""></div>
                        <div class="bottom">
                            <div class="title">{{item.title}}</div>
                            <div class="info"><span class="grade">{{item.score}}分</span><span><i class="fa fa-eye"
                                                                                                 aria-hidden="true"></i>{{item.views}}</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="article-grid-item-placeholder"></li>
                <li class="article-grid-item-placeholder"></li>
                <li class="article-grid-item-placeholder"></li>
                <li class="article-grid-item-placeholder"></li>
                <li class="article-grid-item-placeholder"></li>
                <li class="article-grid-item-placeholder"></li>
                <li class="article-grid-item-placeholder"></li>
                <li class="article-grid-item-placeholder"></li>
                <li class="article-grid-item-placeholder"></li>
                <li class="article-grid-item-placeholder"></li>
            </ul>
        </div>

    </div>
    <div class="tab-list-panel" v-else>
        <ul class="article-grid-ul">
            <li class="article-grid-item" v-for="(item,index) of articleGrid">
                <a :href="'./detail.html?id='+item.id+'&score='+item.score+'&views='+item.views">
                    <div class="cover"><img :src="item.fileThumb" alt=""></div>
                    <div class="bottom">
                        <div class="title">{{item.title}}</div>
                        <div class="info"><span class="grade">{{item.score}}分</span><span><i class="fa fa-eye"
                                                                                             aria-hidden="true"></i>{{item.views}}</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
        </ul>
    </div>


</div>
<script src="./js/vue/vue.min.js"></script>
<script src="./js/axios/axios.min.js"></script>
<script src="./js/dayjs/dayjs.min.js"></script>
<script src="./js/api.js"></script>
<script src="./js/hotel-grid-list.js"></script>
</body>
</html>
