<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="referrer" content="same-origin">
    <meta charset="UTF-8">
    <title>首页</title>
    <!--    <link rel="stylesheet" href="http://ebooking.elong.com/html5/resources/css/weui.min.css">-->
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="./js/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="./js/vant/index.css"/>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/component.css">
    <link rel="stylesheet" href="css/index.css">
    <style>
        .page-wrapper .menu-panel a.menu .icon.shouye {
            background-image: url('${resourcesPrefix}/images/shouye@2x.png');
        }

        .page-wrapper .menu-panel a.menu .icon.tiwen {
            background-image: url('${resourcesPrefix}/images/tiwen@2x.png');
        }

        .page-wrapper .menu-panel a.menu .icon.wode {
            background-image: url('${resourcesPrefix}/images/wode@2x.png');
        }


        .page-wrapper .menu-panel a.menu.active .icon.shouye {
            background-image: url('${resourcesPrefix}/images/shouye_b@2x.png');
        }

        .page-wrapper .menu-panel a.menu.active .icon.tiwen {
            background-image: url('${resourcesPrefix}/images/tiwen_b@2x.png');
        }

        .page-wrapper .menu-panel a.menu.active .icon.wode {
            background-image: url('${resourcesPrefix}/images/wode_b@2x.png');
        }
    </style>
    <script src="js/swiper/swiper-bundle.min.js"></script>
    <script>
        var controllerPathPrefix = 'http://ebooking.elong.com/html5';
    </script>
</head>
<body>
<div class="page-wrapper" v-cloak id="app">
    
    <!--<header class="nav-bar-panel">-->
    <!--    <div class="back"><i class="fa fa-angle-left" aria-hidden="true"></i></div>-->
    <!--    <div class="title">首页</div>-->
    <!--    <div class="right"><i class="fa fa-ellipsis-h"></i></div>-->
    <!--</header>-->
    <div class="search-panel">
        <div class="search-input-wrapper">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input class="search-input" v-model="searchText" @keydown.enter="search(true)"
                   @click="toggleRecentSearchPanel()"
                   type="text"
                   placeholder="搜索感兴趣的内容">
            <div v-show="isShowRecentSearchPanel" class="cancel-btn" @click="toggleRecentSearchPanel(false)">取消
            </div>
        </div>
        <div class="recent-search-panel" v-if="isShowRecentSearchPanel">
            <div class="recent-search-title">最近搜索</div>
            <ul class="recent-search-ul">
                <li class="recent-search-item" :key="index" v-for="(item,index) of recentlySearch"
                    @click="selectRecentlySearch(item)">
                    {{item}}
                </li>
            </ul>
        </div>
    </div>
    <div class="banner-panel">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" @click="jumpUrl(banner.imgLink)" :key="index"
                     v-for="(banner,index) of bannerList"><img :src="banner.imgSrc"></div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="article-list-panel">
        <header class="top"><h2 class="title">热门文章</h2><a class="more"
                                                          href="${controllerPathPrefix}/hotelTraining/article-list">更多<i
                class="fa fa-angle-right"
                aria-hidden="true"></i></a>
        </header>
        <ul class="ebkh5-article-list-ul">
            <ebkh5-article-list-item :item="item" :key="index"
                                     v-for="(item,index) of articleList"></ebkh5-article-list-item>

        </ul>
    </div>
    <div class="article-grid-panel">
        <header class="top"><h2 class="title">商家必学</h2><a class="more"
                                                          href="${controllerPathPrefix}/hotelTraining/hotel-grid-list">更多<i
                class="fa fa-angle-right"
                aria-hidden="true"></i></a>
        </header>
        <ul class="ebkh5-article-grid-ul">
            <ebkh5-article-grid-item :item="item" :key="index"
                                     v-for="(item,index) of articleGrid"></ebkh5-article-grid-item>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
        </ul>
    </div>

    <div class="bottom-banner-panel">
        <img src="${resourcesPrefix}/images//bottom_banner.png" alt="">
    </div>

    <div class="menu-panel">
        <a href="#" class="menu active"><i class="icon shouye"></i>首页</a>
        <a href="${contextPath}/review/appIssue/index" class="menu"><i class="icon tiwen"></i>提问</a>
        <a href="${controllerPathPrefix}/hotelTrainUser/index" class="menu"><i class="icon wode"></i>我的</a>
    </div>
</div>
<script src="./js/vue/vue.min.js"></script>
<script src="./js/vant/vant.min.js"></script>
<script src="./js/axios/axios.min.js"></script>
<script src="./js/dayjs/dayjs.min.js"></script>
<script src="./js/api.js"></script>
<script src="./js/util.js"></script>
<script src="./js/component.js"></script>
<script>
    var api = new HotelTrainingApi(controllerPathPrefix);
</script>
<script src="./js/index.js"></script>
</body>
</html>
