<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta charset="UTF-8">
    <meta name="referrer" content="same-origin">
    <title>文章推荐</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/article-list.css">
</head>
<body>
<div class="page-wrapper" id="app">
    <div class="tab-panel">
        <div class="tab-item" :class="{active:currentTab===item.tag}" :key="item.tag" v-for="(item,index) of  tabList"
             @click="toggleTag(item.tag)"
        >
            {{item.text}}
        </div>
    </div>
    <div class="article-list-panel">
        <header class="top"><h2 class="title">热门文章</h2><span>更多<i class="fa fa-angle-right"
                                                                  aria-hidden="true"></i></span>
        </header>
        <ul class="article-list-ul">
            <li class="article-list-item" @click="jumpUrl(item.url)" v-for="(item,index) of articleList">
                <div class="left">
                    <div class="title">{{item.title}}</div>
                    <div class="info"><span>{{dayjs(item.publishTime).format('YYYY-MM-DD HH:mm:ss')}}</span><span><i
                            class="fa fa-eye"
                            aria-hidden="true"></i>{{item.views}}</span>
                    </div>
                </div>
                <div class="right">
                    <img :src="item.fileThumb">
                </div>
            </li>
        </ul>
    </div>

</div>
<script src="./js/vue/vue.min.js"></script>
<script src="./js/axios/axios.min.js"></script>
<script src="./js/dayjs/dayjs.min.js"></script>
<script src="./js/api.js"></script>
<script src="./js/article-list.js"></script>
</body>
</html>
