<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="referrer" content="same-origin">
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <link rel="stylesheet" href="http://ebooking.elong.com/html5/resources/css/weui.min.css">-->
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="./js/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/holder.min.js"></script>
    <script src="js/swiper/swiper-bundle.min.js"></script>

</head>
<body>
<div class="page-wrapper" id="app">
    <!--<header class="nav-bar-panel">-->
    <!--    <div class="back"><i class="fa fa-angle-left" aria-hidden="true"></i></div>-->
    <!--    <div class="title">首页</div>-->
    <!--    <div class="right"><i class="fa fa-ellipsis-h"></i></div>-->
    <!--</header>-->
    <div class="search-panel">
        <div class="search-input-wrapper">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input class="search-input" @click="toggleRecentSearchPanel(true)" type="text" placeholder="搜索感兴趣的内容">
            <div v-show="isShowRecentSearchPanel" class="cancel-btn" @click="toggleRecentSearchPanel(false)">取消</div>
        </div>
        <div class="recent-search-panel" v-if="isShowRecentSearchPanel">
            <div class="recent-search-title">最近搜索</div>
            <ul class="recent-search-ul">
                <li class="recent-search-item" v-for="(item,index) of 10" @click="toggleRecentSearchPanel(false)">
                    最近搜索内容{{index}}
                </li>
            </ul>
        </div>
    </div>
    <div class="banner-panel">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" :key="index" v-for="(item,index) of bannerList"><img :src="item.imgSrc"></div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="article-list-panel">
        <header class="top"><h2 class="title">热门文章</h2><a class="more" href="./article-list.html">更多<i
                class="fa fa-angle-right"
                aria-hidden="true"></i></a>
        </header>
        <ul class="article-list-ul">
            <li class="article-list-item" @click="jumpUrl(item.url)" v-for="(item,index) of articleList">
                <div class="left">
                    <div class="title">{{item.title}}</div>
                    <div class="info"><span>{{dayjs(item.publishTime).format('YYYY-MM-DD HH:mm:ss')}}</span><span><i
                            class="fa fa-eye"
                            aria-hidden="true"></i>{{item.views}}</span>
                    </div>
                </div>
                <div class="right">
                    <img :src="item.fileThumb">
                </div>
            </li>
        </ul>
    </div>
    <div class="article-grid-panel">
        <header class="top"><h2 class="title">商家必学</h2><a class="more" href="./hotel-grid-list.html">更多<i
                class="fa fa-angle-right"
                aria-hidden="true"></i></a>
        </header>
        <ul class="article-grid-ul">
            <li class="article-grid-item" v-for="(item,index) of articleGrid">
                <div class="cover"><img :src="item.fileThumb" alt=""></div>
                <div class="bottom">
                    <div class="title">{{item.title}}</div>
                    <div class="info"><span class="grade">{{item.score}}分</span><span><i class="fa fa-eye"
                                                                                         aria-hidden="true"></i>{{item.views}}</span>
                    </div>
                </div>
            </li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
            <li class="article-grid-item-placeholder"></li>
        </ul>
    </div>

    <div class="bottom-banner-panel">
        <img src="./img/bottom_banner.png" alt="">
    </div>

    <div class="menu-panel">
        菜单区域
    </div>
</div>

<!--<script>-->
<!--    var mySwiper = new Swiper('.swiper', {-->
<!--        direction: 'horizontal', // 垂直切换选项-->
<!--        loop: true, // 循环模式选项-->

<!--        // 如果需要分页器-->
<!--        pagination: {-->
<!--            el: '.swiper-pagination',-->
<!--        },-->

<!--        // 如果需要前进后退按钮-->
<!--        navigation: {-->
<!--            nextEl: '.swiper-button-next',-->
<!--            prevEl: '.swiper-button-prev',-->
<!--        },-->

<!--        // 如果需要滚动条-->
<!--        scrollbar: {-->
<!--            el: '.swiper-scrollbar',-->
<!--        },-->
<!--    })-->
<!--</script>-->

<script src="./js/vue/vue.min.js"></script>
<script src="./js/axios/axios.min.js"></script>
<script src="./js/dayjs/dayjs.min.js"></script>
<script src="./js/api.js"></script>
<script src="./js/index.js"></script>
</body>
</html>
