body {
  background-color: #f4f4f4;
}

html, body {
  height: 100%;
}

[v-cloak] {
  display: none;
}

a {
  font-size: 14px;
  color: #999999;
  text-decoration: none;

  &:hover {
    font-size: 14px;
    color: #999999;
    text-decoration: none;
  }

  &:visited {
    font-size: 14px;
    color: #999999;
    text-decoration: none;
  }

  &:active {
    font-size: 14px;
    color: #999999;
    text-decoration: none;
  }
}

// 文章列表
.article-list-ul {
  .article-list-item {
    display: flex;
    padding: 10px;
    align-items: center;

    &:not(:last-child) {
      border-bottom: 1px solid #f1f1f1;
    }

    .left {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      height: 60px;
      flex-direction: column;
      justify-content: space-around;


      .title {
        color: #333333;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }

      .info {
        color: #999999;
        display: flex;
        justify-content: space-between;
        font-size: 12px;

        i.fa-eye {
          font-size: 14px;
          margin-right: 5px;
        }

      }
    }

    .right {
      width: 60px;
      height: 60px;
      margin-left: 15px;
      font-size: 0;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

}

// 文章网格列表
.article-grid-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;

  .article-grid-item {
    width: 173px;
    border: #E5E5E5 1px solid;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 10px;
    box-sizing: border-box;

    .cover {
      width: 100%;
      height: 97px;
      //background-color: #0f6674;
      border-radius: 4px;
      overflow: hidden;
      font-size: 0;

      img {
        border-radius: 4px;
        width: 100%;
        height: 97px;
      }
    }

    .bottom {
      padding: 0 10px;
      height: 80px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-around;

      .title {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;

      }

      .info {
        font-size: 12px;
        color: #999999;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        span.grade {
          color: #1EABF1;

        }

        i.fa-eye {
          font-size: 14px;
          margin-right: 5px;
        }

      }
    }
  }

  .article-grid-item-placeholder {
    width: 173px;
    border: transparent 1px solid;
    height: 0;
  }

}
