body {
  background-color: #f4f4f4;
}

html, body {
  height: 100%;
}

[v-cloak] {
  display: none;
}

a {
  font-size: 14px;
  color: #999999;
  text-decoration: none;

  &:hover {
    font-size: 14px;
    color: #999999;
    text-decoration: none;
  }

  &:visited {
    font-size: 14px;
    color: #999999;
    text-decoration: none;
  }

  &:active {
    font-size: 14px;
    color: #999999;
    text-decoration: none;
  }
}



.van-overlay {
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}
