.page-wrapper {
  padding-bottom: 65px;
}
.page-wrapper i.fa {
  font-size: 18px;
}
.page-wrapper .nav-bar-panel {
  height: 45px;
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.page-wrapper .nav-bar-panel .back,
.page-wrapper .nav-bar-panel .right {
  height: 100%;
  display: flex;
  align-items: center;
  color: black;
}
.page-wrapper .nav-bar-panel .back .fa,
.page-wrapper .nav-bar-panel .right .fa {
  font-size: 26px;
}
.page-wrapper .nav-bar-panel .title {
  color: black;
  font-size: 18px;
}
.page-wrapper .search-panel {
  padding: 0 10px;
  background-color: white;
  position: relative;
}
.page-wrapper .search-panel .search-input-wrapper {
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-wrapper .search-panel .search-input-wrapper .search-input {
  border-radius: 18px;
  border: none;
  background-color: #F4F4F4;
  height: 36px;
  line-height: 36px;
  width: 100%;
  padding: 0 40px;
}
.page-wrapper .search-panel .search-input-wrapper .cancel-btn {
  width: 60px;
  color: #1EABF1;
  text-align: center;
  font-size: 14px;
  padding-left: 10px;
}
.page-wrapper .search-panel .fa-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  color: #b2b2b2;
  font-weight: lighter;
}
.page-wrapper .search-panel .recent-search-panel {
  width: 100%;
  height: calc(100vh - 45px);
  background-color: #F4F4F4;
  position: absolute;
  left: 0;
  top: 45px;
  z-index: 10000;
}
.page-wrapper .search-panel .recent-search-panel .recent-search-title {
  font-size: 12px;
  padding: 5px 10px;
}
.page-wrapper .search-panel .recent-search-panel .recent-search-ul {
  min-width: 0;
}
.page-wrapper .search-panel .recent-search-panel .recent-search-ul .recent-search-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 50px;
  color: #666666;
  font-size: 14px;
  box-sizing: border-box;
  background-color: white;
}
.page-wrapper .search-panel .recent-search-panel .recent-search-ul .recent-search-item:not(:last-child) {
  border-bottom: 1px solid #F4F4F4;
}
.page-wrapper .banner-panel {
  height: 177px;
  box-sizing: border-box;
  padding: 5px 10px 15px 10px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  position: relative;
}
.page-wrapper .banner-panel .swiper {
  width: 100%;
  height: 152px;
  border-radius: 5px;
}
.page-wrapper .banner-panel .swiper img {
  width: 100%;
}
.page-wrapper .article-list-panel {
  padding: 10px;
  background-color: white;
  margin-bottom: 15px;
}
.page-wrapper .article-list-panel .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.page-wrapper .article-list-panel .top h2.title {
  font-size: 17px;
  padding: 0 10px;
  margin: 0;
}
.page-wrapper .article-list-panel .top a.more {
  font-size: 14px;
  color: #999999;
}
.page-wrapper .article-list-panel .top a.more i.fa {
  margin-left: 5px;
}
.page-wrapper .article-grid-panel {
  padding: 10px;
  background-color: white;
  margin-bottom: 15px;
}
.page-wrapper .article-grid-panel .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.page-wrapper .article-grid-panel .top h2.title {
  font-size: 17px;
  padding: 0 10px;
  margin: 0;
}
.page-wrapper .article-grid-panel .top a.more {
  font-size: 14px;
  color: #999999;
}
.page-wrapper .article-grid-panel .top a.more i.fa {
  margin-left: 5px;
}
.page-wrapper .bottom-banner-panel {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-wrapper .bottom-banner-panel img {
  max-width: 100%;
}
.page-wrapper .menu-panel {
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: 0px 5px 10px 0px #dddddd;
}
.page-wrapper .menu-panel a.menu {
  font-size: 10px;
  color: #999999;
  display: block;
}
.page-wrapper .menu-panel a.menu .icon {
  width: 21px;
  height: 21px;
  display: block;
  margin: 0 auto;
  background-size: 100% 100%;
  margin-bottom: 3px;
}
.page-wrapper .menu-panel a.menu .icon.shouye {
  background-image: url('../img/shouye@2x.png');
}
.page-wrapper .menu-panel a.menu .icon.tiwen {
  background-image: url('../img/tiwen@2x.png');
}
.page-wrapper .menu-panel a.menu .icon.wode {
  background-image: url('../img/wode@2x.png');
}
.page-wrapper .menu-panel a.menu.active {
  color: #5BABEA;
}
.page-wrapper .menu-panel a.menu.active .icon.shouye {
  background-image: url('../img/shouye_b@2x.png');
}
.page-wrapper .menu-panel a.menu.active .icon.tiwen {
  background-image: url('../img/tiwen_b@2x.png');
}
.page-wrapper .menu-panel a.menu.active .icon.wode {
  background-image: url('../img/wode_b@2x.png');
}
/*# sourceMappingURL=index.css.map */